* {
    box-sizing: border-box;
}/* end all */

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}/* end html */

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}/* end body */

.body {
    width: 550px;
    height: 400px;
    background-color: #090925;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}/* end .body */

.between {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.circle {
    width: 165px;
    height: 165px;
    border-radius: 100%;
    position: absolute;
}/* end .circle */

.circle1 {
    background-color: #7c3f62;
    z-index: 1;
    top: 50%;
    left: 39%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}/* end .circle1 */

.circle2 {
    background-color: #e88382;
    top: 30%;
    left: 46.5%;
    margin-right: -50%;
}/* end .circle2 */

.box {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
}

.middle {
    position: absolute;
    z-index: 1;
    background-color: #090925;
    width: 50px;
    height: 124px;
    border-radius: 100%;
    top: 101%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}